#container {
    text-align: center;
    padding: 10px;
    left: 0;
    right: 0;
    padding-bottom: 30px;
  }
  .sub_text{
    font-size: 12px;
    margin-bottom: 10px;
  }
  ion-label{
      font-weight: bolder;
      //font-size: 14px !important;
  }
  .align_center{
      text-align: center;
  }
  .pad_50{
      padding: 50px;
  }