<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <h2>MSJS !!</h2>
    <i class="sub_text">Together we fight COVID-19 !! Be Safe !!</i><br>
    <ion-button color="secondary" class="button_home" shape="round" (click)="gotoUserName()">Start Survey</ion-button>
  </div>
  <img src="assets/home.png" class="img_position">
</ion-content>
